@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');
:root{
    --primary: #1B1B32;
    --nav: #0A0B22;
    --font: 'Lato',sans-serif;
}
body{
    background-color: var(--primary);
    color: white;
}
/* NavBar */
nav{
    position: absolute;
    top: 0;
}
.nav-text{
    font-family: 'Lato',sans-serif;
    font-weight: 300;
    font-size: 31px;
}
.nav-div{
    background-color: var(--nav);

    align-items: flex-start;
    padding: 6px 30px 5px 30px;
}
.search_bar{
    background-color: #3A3A4F;
    border: none;
    color: #eaeff1;
    width: 33%;
    height: 30px;
}
.search_bar::placeholder{
    color: #C7D0D5;
    font-family: 'Lato',sans-serif;
    padding-left: 40px;
    font-size: 20px;
    position: relative;
    top: 3px;
}
.nav-head{
    margin-left: 10%;
}
.nav-btns{
    margin-left: auto;
}
.menu_btn{
  font-family: var(--font);
  background: transparent;
  color: white;
  border: solid 1px white;
  height: 30px;
  width: 80px;
  font-size: 20px;

}
.signin_btn{
  background-color: #FFBB3E;
  font-family: var(--font);
  font-size: 20px;
  height: 32px;
  width: 100px ;
  border: solid 4px #FFAD32;
  margin-left: 10px;
  transition: 1s;
}

.menu_btn:hover{
  cursor: pointer;
}
.signin_btn:hover{
    cursor: pointer;
    border: none;
    background-color: #f0be61;
}
nav{
    position: sticky;
}
/* .nav-head{
    position: absolute;
    left: 45%;
} */
/* NavBar ends */
/* Hero Section */
.big-head{
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    margin-top: 40px;
}
.hero-p{
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    margin-top: 40px;
}
.hero-icons {
    display: flex;
   justify-content: space-between;
   padding-top: 27px;
}
.google{
    font-size: 25px;
    font-weight: 500;
}
.microsoft{
    font-size: 25px;
    font-weight: 500;
    margin-left: 10px;
}
.get-start-btn{
    background-color: #FFBB3E;
  font-family: var(--font);
  font-size: 30px;
  height: 55px;
  width: 85%;
  border: solid 6px #FFAD32;
  margin-left: 10px;
}
.get-start-div{
    padding-left: 15%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.get-start-btn:hover{
    transition: 1s;
    cursor: pointer;
    background-color: #f2b13adc;
}
.hero-last{
    font-family: 'Lato',sans-serif;
    letter-spacing: 1px;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    padding-left: 12%;
    padding-top: 15px;
    padding-bottom: 10%;
}
/* Hero Section Ends */
/* As Seen In Section */
.as-seen{
    background-color: #3A3A4F;
    padding-bottom: 4%;
}
.as-seen h2{
    font-size: 40px;
}
.as-seen-main-box{
    padding-top: 3%;
    text-align: center;
}
/* As Seen Section Ends */
/* Alumni Section Starts */
.alumni-card{
    display: flex;
    margin-top: 68px;
}
.al-desc{
    background-color: #0A0A23;
    width: 100%;
    padding-top: 40px ;
}
.al-intro{
    text-align: center;
}
.al-say{
  padding-left: 10% ;
  padding-right: 40px;
  padding-bottom: 30px;
}
.al-intro p{
    font-size: 22px;
}
.alumni-card p{

    word-spacing: 1px;
    line-height: 35px;
}
.al-say p{
    font-size: 20px;
}
.nd-card{
 position: relative;
 right: 30%;
}
/* Alumni Section Ends */